---

- name: Configure HTTP_PORT
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^HTTP_PORT=.*"
    replace: "HTTP_PORT={{ mailcow__config_http_port }}"

- name: Configure HTTP_BIND
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^HTTP_BIND=.*"
    replace: "HTTP_BIND={{ mailcow__config_http_bind }}"

- name: Configure HTTPS_PORT
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^HTTPS_PORT=.*"
    replace: "HTTPS_PORT={{ mailcow__config_https_port }}"

- name: Configure HTTPS_BIND
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^HTTPS_BIND=.*"
    replace: "HTTPS_BIND={{ mailcow__config_https_bind }}"

- name: Configure ACL_ANYONE
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^ACL_ANYONE=.*"
    replace: "ACL_ANYONE={{ mailcow__config_acl_anyone }}"

- name: Configure MAILDIR_GC_TIME
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^MAILDIR_GC_TIME=.*"
    replace: "MAILDIR_GC_TIME={{ mailcow__config_maildir_gc_time }}"

- name: Configure ADDITIONAL_SAN
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^ADDITIONAL_SAN=.*"
    replace: "ADDITIONAL_SAN={{ mailcow__config_additional_san }}"

- name: Configure SKIP_LETS_ENCRYPT
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^SKIP_LETS_ENCRYPT=.*"
    replace: "SKIP_LETS_ENCRYPT={{ mailcow__config_skip_lets_encrypt }}"

- name: Configure ENABLE_SSL_SNI
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^ENABLE_SSL_SNI=.*"
    replace: "ENABLE_SSL_SNI={{ mailcow__config_enable_ssl_sni }}"

- name: Configure SKIP_IP_CHECK
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^SKIP_IP_CHECK=.*"
    replace: "SKIP_IP_CHECK={{ mailcow__config_skip_ip_check }}"

- name: Configure SKIP_HTTP_VERIFICATION
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^SKIP_HTTP_VERIFICATION=.*"
    replace: "SKIP_HTTP_VERIFICATION={{ mailcow__config_skip_http_verification }}"

- name: Configure SKIP_CLAMD
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^SKIP_CLAMD=.*"
    replace: "SKIP_CLAMD={{ mailcow__config_skip_clamd }}"

- name: Configure SKIP_SOLR
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^SKIP_SOLR=.*"
    replace: "SKIP_SOLR={{ mailcow__config_skip_solr }}"

- name: Configure SOLR_HEAP
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^SOLR_HEAP=.*"
    replace: "SOLR_HEAP={{ mailcow__config_solr_heap }}"

- name: Configure ALLOW_ADMIN_EMAIL_LOGIN
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^ALLOW_ADMIN_EMAIL_LOGIN=.*"
    replace: "ALLOW_ADMIN_EMAIL_LOGIN={{ mailcow__config_allow_admin_email_login }}"

- name: Configure USE_WATCHDOG
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^USE_WATCHDOG=.*"
    replace: "USE_WATCHDOG={{ mailcow__config_use_watchdog }}"

- name: Uncomment WATCHDOG_NOTIFY_EMAIL line
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: '^#(WATCHDOG_NOTIFY_EMAIL=)$'
    replace: '\1'

- name: Configure WATCHDOG_NOTIFY_EMAIL
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^WATCHDOG_NOTIFY_EMAIL=.*"
    replace: "WATCHDOG_NOTIFY_EMAIL={{ mailcow__config_watchdog_notify_email }}"

- name: Configure WATCHDOG_NOTIFY_BAN
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^WATCHDOG_NOTIFY_BAN=.*"
    replace: "WATCHDOG_NOTIFY_BAN={{ mailcow__config_watchdog_notify_ban }}"

- name: Configure LOG_LINES
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^LOG_LINES=.*"
    replace: "LOG_LINES={{ mailcow__config_log_lines }}"

- name: Configure SOGO_EXPIRE_SESSION
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^SOGO_EXPIRE_SESSION=.*"
    replace: "SOGO_EXPIRE_SESSION={{ mailcow__config_sogo_expire_session }}"

- name: Uncomment API_KEY line
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: '^#(API_KEY=)$'
    replace: '\1'
  no_log: true

- name: Configure API_KEY
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^API_KEY=.*"
    replace: "API_KEY={{ mailcow__api_key }}"
  no_log: true

- name: Uncomment API_ALLOW_FROM line
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: '^#(API_ALLOW_FROM=172.22.1.1,127.0.0.1)$'
    replace: '\1'
  no_log: true

- name: Configure API_ALLOW_FROM
  replace:
    path: /opt/mailcow-dockerized/mailcow.conf
    regexp: "^API_ALLOW_FROM=.*"
    replace: "API_ALLOW_FROM={{ mailcow__api_key_allow_from }}"
  no_log: true
