---
- name: Install required packages
  apt:
    name: "{{ item }}"
  loop:
    - software-properties-common
    - apt-transport-https

- name: Add the Docker apt key
  apt_key:
    url: http://download.docker.com/linux/ubuntu/gpg

- name: Add the Docker apt repository
  apt_repository:
    repo: "deb [arch=amd64] http://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"

- name: Install Docker
  apt:
    name: docker-ce
    update_cache: yes
